<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <%= link_to "Recipe app", "/" , class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
             Welcome <%= current_user.name %>
          </li>
          <li class="nav-item">
             <%= link_to "Sign Out", destroy_user_session_path, method: :get, class: 'link btn btn-primary' %>
          </li>
           <li class = "nav-item">
              <%= link_to "Edit Profile", edit_user_registration_path, class: 'link btn btn-primary' %>
           </li>
        <% else %>
           <li class = "nav-item">
              <%= link_to "Sign In", new_user_session_path %>
           </li>
           <li class = "nav-item">
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
        <% end %>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>  
          <%= render partial: 'partials/navbar' %>
        </li>
    </ul>     
    </div>
  </div>
</nav>
